[data-label="Execution No."] .slds-truncate {
  white-space: pre-wrap;
}

.slds-table tr th:first-child {
  width: 0px !important;
}

.picklist-container,
.lookup-container {
  width: 90%;
  margin: 0 auto;
}

.slds-media__figure.slds-listbox__option-icon {
  display: none !important;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown {
  position: relative !important;
  z-index: 99 !important;
  max-height: 120px;
  overflow-y: scroll;
}

[lightning-combobox_combobox-host] {
  margin-bottom: 17px;
}

th.slds-has-focus,
td.slds-has-focus {
  box-shadow: none !important;
}

.slds-table_edit thead th:first-child {
  width: 60px;
} 
