/*
*********************************************************************************************************
Name: suveyRenderParent.css
==========================================================================================================
Purpose: suveyRenderParent css component
==========================================================================================================
History

VERSION    AUTHOR                                               DATE                DESCRIPTION
1.0        Kenneth Kim (kennkim@deloitte.com)            		02/06/2023          Initial version
*********************************************************************************************************
*/
.survey-form-card{
    opacity: 96%;
}